* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ' Popnpis', sans-serif;

}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #4203a9, #90bafc);
    color: #fff;
    padding: 10px;
}

.calculater {
    width: 100%;
    max-width: 600px;
    margin-left: 10%;
    margin-top: 10%;
}

.heading {
    font-size: 60px;
}

.heading span {
    color: #ffff76;
}

.inputbox {
    margin: 40px 0;
    padding: 35px;
    border-radius: 10px;
    background: rgb(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
}

.inputbox input {
    flex: 1;
    margin-right: 20px;
    padding: 14px 20px;
    border: 0;
    outline: 0;
    font-size: 18px;
    border-radius: 5px;
    position: relative;

}

.btn {
    background: #ffff76;
    border: 0;
    outline: 0;
    padding: 15px 30px;
    border-radius: 5px;
    font-weight: 500;
    color: #333;
    cursor: pointer;
    font-size: 18px;
}

.btn:active {
    scale: 0.95;
}